[*.cs]

#CS8605:Unboxingapossiblynullvalue.
dotnet_diagnostic.CS8605.severity=none

#CS8603:Possiblenullreferencereturn.
dotnet_diagnostic.CS8603.severity=none

#CS8601:Possiblenullreferenceassignment.
dotnet_diagnostic.CS8601.severity=none

#CS8600:Convertingnullliteralorpossiblenullvaluetonon-nullabletype.
dotnet_diagnostic.CS8600.severity=none

#CA1050:Declaretypesinnamespaces
dotnet_diagnostic.CA1050.severity=none

#Defaultseverityforallanalyzerdiagnostics
dotnet_analyzer_diagnostic.severity=none

#SYSLIB0011:Typeormemberisobsolete
dotnet_diagnostic.SYSLIB0011.severity=none

#CS0006:Metadatafile'C:\Users\MarkA\Desktop\RefbitsFiles\RefBitsNet6\RefBits\obj\x64\Debug\net6.0-windows\ref\Main.dll'couldnotbefound
dotnet_diagnostic.CS0006.severity=warning
